/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}



/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
.text-small {
    font-size: 0.9rem !important;
}


body {
    min-height: 110vh;
    background-color: #4ca1af;
    background-image: linear-gradient(135deg, #4ca1af 0%, #c4e0e5 100%);
}


.contenido{
    min-height: 100vh;
}
/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

.avatar_rounded{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}
/*
*
* ==========================================
* Para los botones del registro
* ==========================================
*
*/
.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 80px;
    background: dodgerblue;
    border-radius: 6px;
    transition: all .3s cubic-bezier(0.67, 0.17, 0.40, 0.83);
  }
  
  .button svg {
    transform: rotate(180deg);
    transition: all .5s;
  }
  
  .button__circle {
    width: 120px;
    height: 120px;
    background: mediumseagreen;
    border-radius: 50%;
    transform: rotate(-180deg);
  }
  
  .button:hover {
    cursor: pointer;
  }
  
  .tick {
    color: white;
    font-size: 2em;
    transition: all .9s;
  }

.table{
    table-layout:fixed;
    width:100%;
    word-wrap: break-word;
}




.btn-group {
    display: flex;
    justify-content: space-around;
}

.btn-group button {
    width: 150px;
    flex: unset !important;
    border-radius: 4px !important;
}
.imagen{
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 40%;
    height: 40%;
}

.box-shadow{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.cuerpo{
    background-color: whitesmoke;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 10px;
}
.letras{
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}

#map {
    height: 400px;
    width: 100%;
}